// Custom variable

// Font

$font-family-base: "Roboto", "Noto Sans TC", sans-serif;

// Color

$main: #2a2f35;
$gray: #7d879c;
$gray-dark: #373f50;
$gray-light: #f3f5f9;
$gray-1: #c5c8cb;
$gray-bg: #212529;
$red: #ff211e;
$gold: #bb986c;
$orange: #ff7500;

// style

body {
    background: $gray-bg;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    color: $white;
    &:hover {
        color: $gold;
    }
}

.btn:focus,
.btn.Focus {
    outline: none !important;
    box-shadow: none !important;
}
button:focus {
    outline: none !important;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border: none;
    color: $white;
}

.text-success {
    color: $gold !important;
}

// sweetalert

.custom-title-class {
    color: $gray-light;
}

.custom-text-class {
    font-size: 1.3rem;
    font-weight: 600;
    color: $gray-light;
}

// swiper

.swiper-pagination-bullet {
    background: $gray-light;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
    background: $red;
}
